<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="static/stylesheets/styles.css">
        <link rel="stylesheet" href="static/stylesheets/materialize.css"">
    </head>
    <body>
        <nav>
            <nav class="nav-wrapper">
                <a href="https://github.com/hhcybersquad/ToDo" target="_blank" class="brand-logo">Cybersquad</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Log Out</a></li>
                </ul>
            </nav>
        </nav>
         <header id="banner" class="center">
            <!--Add personalization after authentication introduced-->
            <h1 id="welcome">Welcome to your list collection!</h1>
            <br>
            <button id="btnNewList" data-target="listModal" class=" waves-effect waves-light btn-large btn modal-trigger">New List</button>
         </header>
         <main id="main">
            <section id="listModal" class ="modal">
                <div class="modal-content col s4">
                    <h4 id="lblnewListName">List Name</h4>
                    <input class="col s4" type="text" id="newListName" name="newListName" required>
                    <h4 id ="lblNewContents">List contents | Separate list items with the enter key or a comma</h4>
                    <textarea id="newListContents" class="materialize-textarea"></textarea><br><br>
                    <button id="btnMakeList" class ="modal-close waves-effect waves-green btn-flat" onclick="generateList()">Make List</button>
                    <button id="btnExitModal" class="modal-close waves-effect waves-red btn-flat right ">cancel</button>
                </div>
            </section>
            <section id="lists" class="row"></section>
         </main>
         <script src="static/javascripts/main.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         <script>
            //Initializes all materialize elements on dom
            M.AutoInit();

            //pulse new list btn
             const pulseBtn = () =>{
                var toPulse = document.getElementById("btnNewList");
                if(toPulse.classList.contains("pulse")){
                    toPulse.classList.remove("pulse")
                }else{
                    toPulse.classList.add("pulse");
                }
             }
             //5 sec interval between on/off pulse
             const pulseInterval = setInterval(pulseBtn, 5000);
         </script>
    </body>
</html>